/*Resetando tamnhos da página*/
*{
    padding: 0;
    margin: 0;
}

/*Cor de Fundo da página*/
body{
    background-image: linear-gradient(to top, #696969 ,#DCDCDC);
    font-family: Arial, Helvetica, sans-serif;
}
/*Cor de fundo do header*/
header{
    background-color: black;
    z-index: 9999999;
}

header h1 {
    display: inline-block;
}

header h1 a {
    z-index: 9999999;
}
/*Fluteação do menu, definição de fonte*/

nav li{
    float: right;
    list-style: none;
    margin: 0px 8px; /*Altura e espaçamento*/
    font-family: oswald, arial;
    margin-top: 12px;
}

/*Posicionamento do menu*/

nav {
    height: 40px;
    position: relative;
    right: 25px;
    bottom: 35px;
    margin: 0 auto !important;
    max-width: 80%;
    margin-right: 0 !important;
}
/*Retirando o sublinhado e colocando cor*/

nav a {
    text-decoration: none;
    color: #fff;
}
/*Adicionada a cor laranja ao passar o maouse em cima*/

nav a:hover{
    color:#e5a52d;
}
/*submenu*/
nav li ul{
    display: none;
    z-index: 9;
    background: #000;
    padding: 20px 10px;
}
/*submenu*/
nav li:hover ul{
    display: block;
    position: absolute;
}
/*submenu*/
nav li:hover li{
    float: none;
    font-size: 12px;
}
/*Definido tamanho do logo e position*/

.imagem{
    width:100px;
    padding-left:25px;
    padding-top: 5px;
    position: relative;
    top:30px;
}
/*Posicionamento do slide dentro da Div, largura*/
.galeria{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background: url(../img/rj/copacabana.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}
/*Animação do slide, interação altura/ larguradefinido em 100% para visualizar todo conteúdo da imagem*/
.foto{
    position: absolute;
    opacity: 0;
    animation: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width: 100%;
    width: 100%;
}
/*Tempo de animação das imagens no slide*/
@keyframes animacao{
    /* 25%{
        opacity: 1;
        transform:scale(1,1,1,1);
    }
    50%{
        opacity: 0;
    } */
}
.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}
/*Posicionamento do titulo da página*/
h2{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: arial;
    color: white;
}

#home-viagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
}

.parad{
    padding-top: 50px;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parad img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.parad h3{
    float: left;
    font-size: 16px;
    width: 56%;
    background-color: #FFA600;
    padding-left: 44px;
    padding-right: 44px;
}
.paragrafo{
    padding-left: 0;
    margin-top: 17px;
    color: white;
    width: 80%;
}

.title-page {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    color: #000;
    font-size: 30px;
} 

/*Posicionamento da sessão que baixa a validação, cor do link e retirado sublinhado*/
section a{
    text-decoration: none;
    color:191970;
    position: relative;
    top: 20px;
    height: 50px;
    display: block;
    text-align: center;
}

footer{
    margin-top: 50px;
    padding-left: 50px;
    height: 50px;
    width: 96.2;
    background-color: #ccc;
}
footer p{
    padding-top: 15px;
    text-align: center;
}
